body {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column wrap;
}

p,#txtSearch,label {
	text-align:center;
	font-weight:bold;
	font-size:25px;
	font-family:Consolas;
}

#container {
	width:65vw;
	height:auto;
	border:1px solid silver;
	border-radius:8px;
	padding:10px;
	box-shadow:5px 5px 15px silver;
	display: block;
}

#searchContainer {
	width:65vw;
}

#pkmImage {
	width:50%;
	display: block;
	margin: auto;
}

#listTypes {
	display:flex;
	flex-flow: column wrap;
}

#listTypes > li {
	padding:10px;
	color:white;
	border-radius:5px;
	text-shadow: 1px 1px 1px black;
	text-align:center;
	font-family: monospace;
	font-weight: bold;
	font-size: larger;
	list-style: none;
	width: 80%;
	margin-bottom: 10px;
}